<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Rectangle</title>
</head>
<body>
<form action="rectangle" method="get">
  <label for="width">Введите ширину:</label>
  <input type="text" name="width" id="width" required>
  <label for="length">Введите длину:</label>
  <input type="text" name="length" id="length" required>
  <button type="submit">Отправить</button>
</form>
perimeter=<span th:text="${perimeter}"/>
<br/>
area=<span th:text="${area}"/>
<br/>
<button th:text="HomePage" onclick="location.href='index';"></button>
</body>
</html>